
@import "../node_modules/bootstrap/scss/bootstrap";

$font-family: 'Poppins', sans-serif;


$info: #d88d1d;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


@import "../node_modules/bootstrap/scss/bootstrap";